.animate__animated .animate__bounceInDown{
    animation-duration: 3s;
    --animate-repeat: 1;
   }
   
   /* This changes all the animations globally */
   :root {
    --animate-duration: 800ms;
     --animate-delay: -2s;
     --animate-repeat: 2;
   }
   #aboutme{
     overflow: hidden;
   }
   @media only screen and (max-width: 600px) {
   .box2{
   position: relative;
   right: 100px;
   }
     }