.activeclass:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 1em;
}
 .activeclass{
    color: red;
    text-decoration: underline;
    text-underline-offset: 1em;
}
@media only screen and (max-width: 600px) {
    .pro{
height: 400px;
    }
        }